.menuContainer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.menuBar {
  font-size: 28px;
  position: relative;
  font-family: "Girassol", serif;
  list-style: none;
  display: flex;
  gap: 40px;

  a {
    color: white;
    &:hover {
      color: rgb(193, 197, 255);
    }
  }
}
